.conversationContainer{
    border-radius: 50%;
    background: #FFFFCC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: -1px -1px 24px yellow;
    border: 2px;
}
.conversationContainer img{
    width: 25px;
    height: 25px;
}
.footerMenus a{
 display: inline-block;
 margin: 0 10px;
 text-transform: uppercase;
 color: grey;
 font-size: 14px;
 font-weight: 500;
}